%h3 What's Popular Today
%ul.thumbnails    
  - @links.each do |l|
    %li.span3.poplink{:title => l.title, :"data-content" => "Shared by: #{l.contributor}"}
      %a{:title => l.title, :href => l.url, :class => 'thumbnail'}
        = site_image_tag l.url, :size => '260x260'
=paginate @links