%li.span3.poplink{:title => link.title, :"data-content" => "Shared by: #{link.contributor}", :"data-source" => "#{link.source}"}
  %div{:class => "thumbnail"}
    %a{:title => link.title, :href => link.url, :class => 'thumbnail', :target => '_blank'}
      = picplz_image_tag link.url, :thumbnail_max_width => "275", :alt => link.title
    %h5= truncate(link.title, :length => 50, :separator => ' ')
    - context link