// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.scroller {
  position: fixed;
  bottom: 30px;
  right: 40px;
}