= favicon_link_tag "#{asset_path 'favicon.png'}"
= favicon_link_tag "#{asset_path 'poppin-114x114v2.png'}", rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
= favicon_link_tag "#{asset_path 'poppin-72x72v2.png'}", rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
= favicon_link_tag "#{asset_path 'poppin-57x57v2.png'}", rel: 'apple-touch-icon', type: 'image/png'